@model IEnumerable<IndexViewModel>

@{
	ViewData["Title"] = "Welcome to the Construction Site Reporting System";
	var sites = Model.ToArray();
}

<div class="mb-5">
	<h3 class="text-center">@ViewData["Title"]</h3>
</div>

@if (!sites.Any())
{
	<div class="mb-5">
		<h4 class="text-center">There are no current construction sites</h4>
	</div>
}

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
	<div class="carousel-inner">
		@for (int i = 0; i < sites.Length; i++)
		{
			<div class="carousel-item @(i == 0 ? "active" : string.Empty)">
				<img class="d-block w-100" style="height:500px" src="@sites[i].ImageUrl" alt=" @sites[i].Name">
				<div class="carousel-caption d-none d-md-block">
					<h3>@sites[i].Name</h3>
					@if (!User.Identity.IsAuthenticated)
					{
						<p>Please, login to view the full information</p>
					}
				</div>
			</div>
		}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
