@model WorkViewModel

<tr>
	<th scope="row">@DateTimeConverter.ConvertDateToString(Model.CarryOutDate)</th>
	<td>@Model.WorkName</td>
	<td>@Model.Description</td>
	<td>@Model.Contractor</td>
	<td>@Model.Quantity</td>
	<td>@Model.Unit</td>
	<td>@Model.CostPerUnit</td>
	<td>
		@Model.TotalCost
	</td>
	@if (User?.Identity?.Name == Model.Creator)
	{
		<td>
			<div class="btn-group" role="group" aria-label="Basic outlined example">
				<a asp-controller="Work" asp-action="EditWork" asp-route-id="@Model.Id" class="btn btn-outline-primary" type="button">Edit</a>
				<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					Delete
				</button>
				<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="staticBackdropLabel">Attention</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p class="text-center">You are about to delete the selected entry from <strong>@DateTimeConverter.ConvertDateToString(Model.CarryOutDate)</strong>. Do you wish to proceed?</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<a asp-controller="Work" asp-action="DeleteWork" asp-route-id="@Model.Id" class="btn btn-primary" type="button">Proceed</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</td>
	}
</tr>
