@model WorkViewModel

<tr>
	<th scope="row">@DateTimeConverter.ConvertDateToString(Model.CarryOutDate)</th>
	<td>@Model.WorkName</td>
	<td>@Model.Description</td>
	<td>@Model.Contractor</td>
	<td>@Model.Quantity</td>
	<td>@Model.Unit</td>
	<td>@Model.CostPerUnit</td>
	<td>
		@Model.TotalCost
	</td>
	@if (User?.Identity?.Name == Model.Creator || User.IsAdmin())
	{
		<td>
			<div class="btn-group" role="group" aria-label="Basic outlined example">
				<a asp-controller="Work" asp-action="EditWork" asp-route-id="@Model.Id" class="btn btn-outline-primary" type="button">Edit</a>
				<a asp-controller="Work" asp-action="DeleteWork" asp-route-id="@Model.Id" class="btn btn-outline-primary" type="button">Delete</a>
			</div>
		</td>
	}
</tr>
