@{
	string status = Model.Status.ToString() == "NotStarted" ? "Not started" : Model.Status.ToString() == "InProgress" ? "In progress" : Model.Status.ToString();;
}

@model TaskViewModel

<div class="col">
	<div class="card h-100 border-info mb-3 text-center">
		<div class="card-header">
			<strong>@Model.Title</strong>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><strong>Description: </strong>@Model.Description</li>
			<li class="list-group-item"><strong>Created on: </strong>@DateTimeConverter.ConvertDateToString(Model.CreatedOn)</li>
			<li class="list-group-item"><strong>Status: </strong>@status</li>
			@if (User.IsAdmin())
			{
				<li class="list-group-item"><strong>Creator: </strong>@Model.CreatorName</li>
			}
		</ul>
		<div class="card-body">
			<div class="btn-group" role="group" aria-label="Basic outlined example">
				<a asp-controller="Task" asp-action="EditTask" asp-route-id="@Model.Id" class="btn btn-outline-primary" type="button">Edit</a>
				<a asp-controller="Task" asp-action="DeleteTask" asp-route-id="@Model.Id" class="btn btn-outline-primary" type="button">Delete</a>
			</div>
		</div>
	</div>
</div>