@model UserViewModel

@{
	string status = Model.IsAdmin ? "Administrator" : "User";
}

<td>@Model.FirstName</td>
<td>@Model.MiddleName</td>
<td>@Model.LastName</td>
<td>@Model.Email</td>
<td>@status</td>
<td>
	@if (Model.IsAdmin)
	{
		<form asp-controller="User" asp-action="RemoveAdmin" asp-route-email="@Model.Email">
			<input class="btn btn-outline-primary btn-sm" type="submit" value="Remove admin" />
		</form>
	}
	else
	{
		<form asp-controller="User" asp-action="MakeAdmin" asp-route-email="@Model.Email">
			<input class="btn btn-outline-primary btn-sm" type="submit" value="Make admin" />
		</form>
	}
</td>